body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

header {
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(130deg, white 30%, var(--main-color) -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
}

header .logo img {
    width: 75px;
}

.navbar a {
    font-size: 1.5rem;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem;
    margin-left: 1.5rem;
    transition: 0.3s;
}

.confirmation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f6f6f6;
}

.confirmation-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

.confirmation-container h2 {
    color: #333;
    margin-bottom: 1rem;
}

.confirmation-container p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.home-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #ffb83d;
}

.main-footer {
    padding: 2rem 7%;
    background: var(--shadow);
}

.footer-heading h1 {
    text-align: center;
    padding: 1rem;
    font-size: 40px;
}

.main-inner-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    flex: 1 1 280px;
    padding: 1rem;
    text-align: center;
}

.footer-content img {
    width: 100px;
}

.footer-content a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}

.logo-text {
    font-size: 1.5rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .navbar {
        display: initial;
    }

    nav {
        position: absolute;
        top: 100%;
        background: var(--main-color);
        width: 100%;
        left: 0;
        height: 100vh;
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    }

    nav.active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }

    nav a {
        display: block;
        background-color: var(--graycolortxt);
        margin: 1rem;
        padding: 2rem 2rem;
        border: 3px solid white;
        font-size: 1.5rem;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
    }

    .navbar-icons div {
        margin: 1rem;
    }
}

.footer-content a i {
    font-size: 24px;
    color: blue;
}
